@using KenoShop.WebApp.ViewModels.Account;
@model FilterAccountViewModel
@{
    ViewData["Title"] = "لیست کاربران";
}

@section FooterSection {
    <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
}

<div class="container-xxl flex-grow-1 container-p-y">
    <div class="row">
        <div class="card">
            <h5 class="card-header">لیست محصولات</h5>
            <form asp-area="Admin" asp-controller="Account" asp-action="Index" id="filter-form" method="get">
                <div class="row">
                    <div class="col-sm-12 col-md-3">
                        <div class="row">
                            <input asp-for="Page" type="hidden" />
                            <div class="col-md-3 form-group">
                                <label>
                                    نمایش
                                    <select aria-controls="DataTables_Table_0" class="form-select" asp-for="TakeEntity">
                                        <option value="5">5</option>
                                        <option value="10">10</option>
                                        <option value="15">15</option>
                                        <option value="20">20</option>
                                        <option value="25">25</option>
                                    </select> ردیف
                                </label>
                            </div>
@*                            <div class="col-md-6 dataTables_length">
                                <label>
                                    ترتیب بر اساس
                                    <select asp-for="OrderBy" asp-items="@Html.GetEnumSelectList<OrderAccounts>()" aria-controls="DataTables_Table_0" class="form-select">
                                    </select>
                                </label>
                            </div>*@
                        </div>
                    </div>
                    <div class="col-sm-12 col-md-9 d-flex justify-content-center justify-content-md-end">
                        <div id="DataTables_Table_0_filter" class="dataTables_filter">
                            <label>جستجو: <input type="search" class="form-control" autocomplete="off" asp-for="Name" placeholder="جستجو ..." aria-controls="DataTables_Table_0"></label>
                        </div>
                    </div>
                </div>
                <div class="table-responsive text-nowrap">

                    @*        <div class="dataTables_scroll">
                    *@
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th>کد کاربر</th>
                                <th>نام کاربر</th>
                                <th>ایمیل</th>
                                <th>ادمین</th>
                                <th>وضعیت</th>
                                <th>عمل ها</th>
                            </tr>
                        </thead>
                        <tbody class="table-border-bottom-0">
                            @foreach (var item in Model.Entities)
                            {
                                <tr id="user-detail-@item.UserID">
                                    <td>@item.UserID</td>
                                    <td>@item.UserName</td>
                                    <td>@item.Email</td>
                                    <td>
                                        <span class="badge bg-label-primary me-1">
                                            @{
                                                var ActiveTitle = "";
                                                if (item.IsAdmin == true)
                                                {
                                                    ActiveTitle = "ادمین";
                                                }
                                                else
                                                {
                                                    ActiveTitle = "کابر";
                                                }
                                            }
                                            @ActiveTitle
                                        </span>
                                    </td>
                                    <td>
                                        <span class="badge bg-label-primary me-1">
                                            @{
                                                if (item.IsActive == true)
                                                {
                                                    ActiveTitle = "فعال";
                                                }
                                                else
                                                {
                                                    ActiveTitle = "غیر فعال";
                                                }
                                            }
                                            @ActiveTitle
                                        </span>
                                    </td>
                                    <td>
                                        <div class="dropdown">
                                            <button type="button" class="btn p-0 dropdown-toggle hide-arrow" data-bs-toggle="dropdown">
                                                <i class="bx bx-dots-vertical-rounded"></i>
                                            </button>
                                            <div class="dropdown-menu">
                                                <a class="dropdown-item" asp-area="Admin" asp-controller="Account" asp-action="EditAccount" asp-route-Id="@item.UserID"><i class="bx bx-edit-alt me-1"></i> ویرایش</a>
                                                <a class="dropdown-item cursor-pointer" onclick="RemoveUser(@item.UserID)"><i class="bx bx-trash me-1"></i> حذف</a>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                    <div class="footer row">
                        <div class="col-sm-12 col-md-6">
                            <div class="dataTables_info" id="DataTables_Table_0_info" role="status" aria-live="polite">نمایش 0 تا 0 از 0 ردیف</div>
                        </div>
                        <div class="col-sm-12 col-md-6">
                            <div class="dataTables_paginate paging_simple_numbers" id="DataTables_Table_0_paginate">
                                <ul class="pagination">
                                    @for (int i = Model.StartPage; i <= Model.EndPage; i++)
                                    {
                                        <li class="paginate_button cursor-pointer @(Model.Page == i ? "active" : "")">
                                            <a onclick="FillPage(@i)">
                                                @i <span class="sr-only"></span>
                                            </a>
                                        </li>
                                    }
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>